h1 {
      color: yellowgreen;
}
            img {
                width: 400px;
            }
            #thirdDiv {
                width: 500px;
                height: 600px;
                background-color: rgb(221, 221, 186);
                padding: 50px;
                border: 5px;
                border-color: crimson;
                border-style: dotted;
            }
            #spanId{
                font-size: 18px;
                margin: 50px;
            }
    